<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card-api">
                <div class="text-center">
                    <h1>Edit ref percent for user {{refInfo?.username}}</h1>
                </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <span class="p-float-label">
                            <input pInputText id="refPercent1" formControlName="refPercent1" />
                            <label htmlFor="refPercent1">Percent 1 level, %</label>
                        </span>
                    </div>
                    <div class="mb-3">
                        <span class="p-float-label">
                            <input pInputText id="refPercent2" formControlName="refPercent2" />
                            <label htmlFor="refPercent2">Percent 2 level, %</label>
                        </span>
                    </div>
                    <div class="mb-3">
                        <span class="p-float-label">
                            <input pInputText id="refPercent3" formControlName="refPercent3" />
                            <label htmlFor="refPercent3">Percent 3 level, %</label>
                        </span>
                    </div>
                    <div class="mt-2">
                        <p-button type="submit" class="btn btn-primary" [disabled]="!form.valid">Save</p-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>