.mainContainer {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainContainer > p-button {
  margin-left: 10px;
}
.btnContainer {
  display: flex;
  justify-content: space-around;
  min-width: 700px;
  margin-bottom: 20px;
}
/* .logout-btn {
  position: relative;
  right: -805px;
} */
.btns {
  display: flex;
}
.btns p-button {
  margin: 0 2px;
}
.th150 {
  width: 150px;
  max-width: 150px;
}

.headline {
  font-weight: 700;
  margin-right: 10px;
}

.api-spot-badge {
  margin-left: 8px;
}